@import 'zen-css/import';

article {
  h3, h5 {
    margin-bottom: var(--size-tiny);
  }
  .block {
    margin-bottom: var(--size-main);
  }

  section {
    padding-bottom: var(--size-small);
    border-bottom: var(--border-200);
  }

  .list li {
    display: grid;
    grid-template-columns: var(--size-main) var(--size-super) auto var(--size-huge);
    align-items: center;
    min-height: var(--size-main);
    grid-template-rows: var(--size-main) auto;
    // line-height: var(--size-main);

    & > {
      @extend %ellipsis;
    }

    p.description {
      grid-column: 3 / 5;
      font-size: var(--font-size-small);
      white-space: normal;
      margin-bottom: var(--size-tiny);
    }
    span.defaultValue {
      grid-column: 3 / 5;
      font-size: var(--font-size-small);
      white-space: normal;
      margin-bottom: var(--size-tiny);
      code {
        padding: 0.25rem 0.5rem;
        font-size: var(--font-size-tiny);
      }
    }
  }

  pre {
    margin: var(--size-tiny) 0;
  }

  .title {
    position: relative;
    .link {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
      transition: var(--transition-time);

      &:hover {
        opacity: 1;
      }
    }

    &:hover .link {
      opacity: 0.25;
    }
  }
}

span.type {
  font-style: italic;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-small);
  color: var(--color-grey-300);

  span.list {
    color: var(--color-orange);
  }

  &.intrinsic {}
  &.reference {
    color: var(--color-blue);
  }
  &.union {
    color: var(--color-grey-200);
  }
}

small.optional {
  height: var(--size-medium);
  line-height: var(--size-medium);
  font-size: default('font-size-small');
  padding: 0 var(--size-tiny);
  text-transform: lowercase;
  background: var(--color-grey-200);
  margin-right: 0.5rem;
  opacity: 0.5;
  @extend %rounded;
}

.list {
  margin-bottom: var(--size-main);
}

.constructor {
  h4 {
    margin-top: var(--size-small);
    margin-bottom: var(--size-tiny);
  }
}


p.description {
  margin-bottom: var(--size-tiny);
}


small.source {
  display: block;
  font-size: var(--font-size-tiny);
  margin-bottom: var(--size-tiny);
  &, a {
    color: var(--color-grey-300);
  }
}
