article.article > img,
article.article > p > img {
  border-radius: var(--border-radius); }

article.article ul,
article.article ol {
  padding-left: var(--size-small); }
  article.article ul li,
  article.article ol li {
    display: list-item;
    line-height: 2; }

article.article ul li:before {
  content: '';
  display: inline-block;
  width: calc(var(--size-tiny) / 2);
  height: calc(var(--size-tiny) / 2);
  border-radius: 50%;
  background: white;
  border: 2px solid var(--color-grey-300);
  box-shadow: 0 0.1rem 0.2rem var(--color-grey-200);
  margin-left: calc(var(--size-small) * -1);
  margin-right: calc(var(--size-tiny) * 1); }

article.article ol li {
  list-style: decimal; }

article.article p + ul,
article.article p + ol {
  transform: translateY(calc(var(--size-tiny) * -1)); }

article.article > img,
article.article > p > img {
  max-width: 100%;
  border: var(--border-200); }
