div.page-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--size-main);
  margin-top: var(--size-super);
  border: var(--border-100);
  border-width: 0.1rem 0;
  padding: var(--size-small) 0;

  .page-prev {
    grid-area: 1;
  }
  .page-next {
    grid-column: 2;
  }

  a {
    text-decoration: none;
    color: var(--color-active);
    padding: var(--size-small) var(--card-padding);

    h4 {
      color: var(--color-active);
      opacity: 0.5;
      margin-bottom: 1rem;
      font-size: var(--font-size-small);
    }
    zen-icon {
      transition: all var(--transition-time);
    }

    &.page-prev {
      h4 {
        transform: translateX(calc(var(--size-tiny) * -1));
      }
      &:hover zen-icon {
        transform: translateX(-25%);
      }
    }
    &.page-next {
      h4 {
        transform: translateX(var(--size-tiny));
      }
      &:hover zen-icon {
        transform: translateX(25%);
      }
    }
  }
}

div.page-links + a.made-by {
  margin-top: var(--size-medium);
}
