<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= data.title

        link(rel="stylesheet", href=data.css)
        link(rel="stylesheet", href="/docs/prism.css")
    body
        header

        include partials/header

        include partials/sidebar

        include partials/article


        footer


        script(src="/docs/prism.js")
